.home-btn {
	margin: 10px;
}

.jumbotron {
	background-color: #000000;
	color: #ffffff;
	height: 650px;
	font-family: sans-serif, Times, Arial;
}

.header {
	margin-top: 300px;
}

.btn-primary {
	background-color: #05af46;
	float: right;
	border-radius: 0;
}

.title {
	text-align: center;
}

.question-list {
	margin: 0 auto;
}

#submit-survey {
	background-color: #05af46;
	border-radius: 0;
	margin-bottom: 20px;
}

.footer {
	text-align: center;
}
